[user]
	email = l.penaud@zaclys.net
	name = lpenaud
[credential]
	# Timeout in seconds, here 5 minutes by default 15
	helper = cache --timeout 300
[core]
	editor = vim
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
[alias]
	ci = commit
	lg = log --graph --pretty='tformat:%C(yellow)%h%Creset - %C(green)%an%Creset - %C(blue)%as%Creset%C(auto)%d%Creset%n%>>(8)%B'
	st = status
	unstage = reset HEAD
	pullr = pull --rebase
	pushf = push --force
	ri = rebase --interactive
	rc = rebase --continue
	ra = rebase --abort
