[user]
	email = l.penaud@zaclys.net
	name = lpenaud
[credential]
	# Timeout in seconds, here 5 minutes by default 15
	helper = cache --timeout 300
[core]
	editor = vim
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
[alias]
	ci = commit
	lg = log --oneline --graph --decorate
	rbase = rebase --interactive
	st = status
	unstage = reset HEAD
	reset-file = checkout --
